<footer class="footer">
  <div class="container"
    <nav>
      <ul>
        <li><%= link_to "Chef Application", new_chef_application_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
      </ul>
    </nav>
  </div>
</footer>
