<div id="LogInModal" class="modal hide fade" tabindex="-1" data-width="640">
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <%= render "devise/sessions/new_devise_session_form" %>
        <button class="demo btn btn-primary btn-small" data-dismiss="modal" data-toggle="modal" href="#SignUpModal">Not yet a member? Sign up</button>
      </div>
    </div>
  </div>
</div>
<div id="SignUpModal" class="modal hide fade" tabindex="-1" data-width="640">
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <%= render "devise/registrations/new_devise_registration_form" %>
        <button class="demo btn btn-primary btn-large" data-dismiss="modal" data-toggle="modal" href="#LogInModal">Already a member?</button>
      </div>
    </div>
  </div>
</div>
